registry=https://registry.npmmirror.com/
@midscene:registry=http://192.168.8.246:8088/nexus/content/groups/lebo_npm_all/
strict-peer-dependencies=false
save-prefix=''
save-workspace-protocol=rolling
ignore-compatibility-db=true
use-lockfile-v6=true
puppeteer_download_base_url=https://cdn.npmmirror.com/binaries/chrome-for-testing
email=lebo_npm@lebo.cn
always-auth=true
//192.168.8.246:8088/nexus/content/groups/lebo_npm_all/:_auth=YWRtaW46YWRtaW4xMjM=
